body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
    
}
.ent{
    background-color:white;
    height:120px;
    display:flex;
    align-items:center;
    justify-content: left;
    color:rgb(120, 209, 19);
    font-size:40px;
    font-weight:bold;
    }

    .lien{
    background:#666;
}
.u{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}
.u li{
    padding:15px 20px;
    color:white;
    cursor:pointer;
}
.u li:hover{
    background:#444;
}
 .article{
    background:rgb(242, 244, 239);
    color:white;
    padding:5px 10px;
    border-radius:5px;
    display:inline-block;
    margin-bottom:10px;

}
#sp1{
     
    font-style: italic;
    color: #666;
 }
 #sp2{
     color: #666;
    font-style: italic;
 }
 #sp3{
     color: #666;
    font-style: italic;
 }
 #sp4{
     color: #666;
    font-style: italic;
 }
 #sp5{
     color: #666;
    font-style: italic;
 }
  .v1{
   background:red;
    color:white;
    padding:5px 10px;
    border-radius:5px;
    display:inline-block;
    margin-bottom:10px;
}

  
  .v2{
    background:rgb(142, 213, 9);
    color:white;
    padding:5px 10px;
    border-radius:5px;
    display:inline-block;
    margin-bottom:10px;
}

  
  .v3{
    background:rgb(13, 168, 246);
    color:white;
    padding:5px 10px;
    border-radius:5px;
    display:inline-block;
    margin-bottom:10px;
}
  
  a{
    color: rgb(7, 157, 191);
  }
  p{
    color: #444;
  }
  .s1{
    background:rgba(6, 19, 26, 0.014);
    color:rgb(225, 22, 22);
    padding:5px 10px;
    border-radius:5px;
    display:inline-block;
    margin-bottom:10px;
  }

  .fi{
    background:rgb(89, 109, 119);
    color:white;
    
    border-radius:5px;
     }
 
